*{
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}

.content-flex{
	max-width: 912.5px;
	padding: 0 2%;
	margin: 0 auto;
}

.content1{
	max-width: 810px;
	padding: 0 2%;
	margin: 0 auto;
}

.content2{
	max-width: 900px;
	padding: 0 2%;
	margin: 0 auto;
}

.w25{
	width: 25%;
}

.w50{
	width: 50%;
}

.w75{
	width: 75%;
}

.w33{
	width: 33.3%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear:  both;
}

.grow2{
	padding: 1%;
	margin: 0 auto;
	transition: .2s ease;	
	background-color: white;
}

.grow2:hover{
	position: relative;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	border: 2px solid #D8E0E5;
	border-radius: 15px;
}

.grow{
	padding: 2%;
	margin: 0 auto;
	transition: .2s ease;	
	background-color: white;
}

.grow:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	border: 2px solid #D8E0E5;
	border-radius: 15px;
}

.grow h3{
	font-size: 25px;
	text-align: center;
	color: #000E2B;
}

.grow:hover h3{
	font-size: 15px;
}

.grow p{
	opacity: 0;
	text-align: center;
	font-size: 15px;
}

.grow:hover p{
	opacity: 1;
}

.grow:hover img{
	max-width: 50px;
}

img{
	display: block;
	margin: 0 auto;
	width: 100%;
}

h3{
	font-family: 'Oswald', sans-serif;
}

p{
	font-family: 'Poppins', sans-serif;
}

#p2{
	font-family: 'Poppins', sans-serif;
	font-size: 11px;
	color: #96A8B2;
}

#pf{
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	color: white;	
}

#demo{
	padding-left: 5px;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	color: #96A8B2;	
}

#datasub{
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	color: #96A8B2;	
}

header #hdiv{
	padding-top: 1%;
	padding-right: 3%;
	max-width: 300px;
	text-align: center;
}

header h3{
	white-space: nowrap;
	font-size: 23px;
	color: #0051FF;
	padding-top: 4%;
	padding-left: 20%;
}
section.one{
	padding-top: 3%;
}

section.one h3{
	padding-top: 2.5%;
	font-size: 20px;
	color: #000E2B;
}

section.one p{
	text-align: justify;
}

section.one img{
	max-width: 160px;
	display: block;
	margin: 0 auto;
}

section.two{
	padding-top: 3%;
	padding-bottom: -2%;
}

section.two img{
	max-width: 70px;
	display: block;
	margin: 0 auto;
}

footer{
	position: fixed bottom;
	bottom: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background-color: #000E2B;
	text-align: center;	
}

footer p{
	padding-top: 1.5%;
}

.progress2 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: 18px;
  border-radius: 30px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar2 {
  width: 75%; 
  background-color: #0051FF;  
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0%   { width: 5%; background-color: #0051FF;}
  100% { width: 75%; background-color: #0051FF;}
}

.progress3 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 {
  height: 18px;
  border-radius: 30px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved3 .progress-bar3 {
  width: 35%; 
  background-color: #0051FF;  
  animation: progressAnimation3 4s;
}

@keyframes progressAnimation3 {
  0%   { width: 5%; background-color: #0051FF;}
  100% { width: 35%; background-color: #0051FF;}
}

section.bar p{
padding-top: 2%;
padding-bottom: 5px;
font-size: 16px;
text-align: center;
}

section.bar {
	border-top: 1px solid #96A8B2;
	border-radius: 16px;
	padding-bottom: 3%;
}
section.bar #atual-ead{
	padding-top: 4%;
	padding-left: 5%;
}

section.bar #atual-ead h3{
	padding-left: 60%;
}

section.bar li{
	padding-top: 0.8%;
	font-size: 15px;
	font-family: "Poppins";
	white-space: nowrap;
}
section.bar #next-ead{
	padding-top: 4%;
}

section.bar #next-ead h3{
	padding-left: 4%;
	white-space: nowrap;
	color: #000E2B;
}

section.bar #next-ead p{
	padding-top: 0.7%;
	padding-left: 5%;
	text-align: left;
	white-space: nowrap;
}

section.project #project-content{
	width: 310px;
}

section.project{
	padding-top: 1%;
	padding-bottom: 5%;
}

section.project h3{
	padding-top: 30%;
	color: #000E2B;
	font-size: 23px;
}

section.project p{
	text-align: justify;
}

section.project img{
	display: block;
	margin: 0 auto;
	max-width: 300px;
}

@media screen and (max-width: 768px){

	 *{
	 	float: none !important;
	 	text-align: justify;
	 	margin: 0 auto;
	 }

	 	.w25{
	 		width: 100%;
	 	}
		.w33{
			width: 100%;
		}
		.w50{
			width: 100%;
		}
		.w75{
			width: 100%;
		}

		.grow:hover{
			max-width: 260px;
			text-align: center !important;
		}

		h3{
			text-align: center;
		}

		img{
		display: block;
		margin: 0 auto;
		max-width: 400px;
		}

		header h3{
			padding-left: 0% !important;
			text-align: center;
		}

		#mobile-disp{
			width: 50% !important;
			float: left !important;
		}

		#hdiv{
			max-width: 215px !important;
		}

		#datasub{
			padding-left: 12%;
			white-space: nowrap;
			text-align: center;
		}

		#demo{
			padding-left: 24%;
			white-space: nowrap;
			text-align: center;
		}

		#dep{
			width: 400px;
		}

		#next-ead h3{
			padding-top: 4%;
		}

		#next-ead p{
			text-align: center !important;
			padding-left: 0% !important;
		}

		.progress2{
			height: 30px !important;
		}

		.progress-bar2 {
			float: left !important; 
		}

		.progress3{
			height: 30px !important;
		}

		.progress-bar3 {
			float: left !important; 
		}

		section.one img{
			max-width: 250px;
			margin-top: 5%;
		}

		section.one h3{
			padding-top: 5%;
		}

		section.bar p{
			padding-top: 2%;
			text-align: center !important;
			font-size: 11.5px;
		}
		section.bar #atual-ead h3{
			text-align: center;
			padding: 0 0;
		}

		section.bar li{
		text-align: left;
		font-size: 14px;
		padding-right: 1%;
		}
		section.bar #pead{
			font-size: 15px;
		}

		section.project h3{
			padding-top: 1%;
		}

		section.project img{
			padding-top: 2%;
		}

		footer #pf{
			text-align: center;
		}

}

